<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ styles 'style.css' }}">
	<title>{{ title }}</title>
</head>

<body class="main bg">
	<header>
		<nav class="navBox">
			<ul class="navLogo">
				<li><a class="navLink" href="{{ path '' }}"><img src="../../favicon.ico" height="50vh" width="50vw"/></a></li>
			</ul>
			<ul class="navOptions">
				<li><a class="navLink" href="{{ path '' }}">Login</a></li>
				<li><a class="navLink" href="{{ path '' }}">Register</a></li>
				<li><a class="navLink" href="{{ path '' }}">Watched</a></li>
				<li><a class="navLink" href="{{ path '' }}">To Watch</a></li>
			</ul>
		</nav>
	</header>
	<main>
