<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ styles 'style.css' }}">
	<title>{{ title }}</title>
</head>

<body class="main bg">
	<header>
		<nav class="navBox">
			<ul class="navLogo">
				<li><a class="navLink" href="{{ path '' }}"><img src="../../favicon.ico" height="50vh" width="50vw"/></a></li>
			</ul>
			<ul class="navOptions">
				<li><a class="navLink" href="{{ path '' }}">Recommendations</a></li>

				{{#if sessionCookie}}
					<li><a class="navLink" href="{{ path 'movie' }}">Add Movie</a></li>
					<li><a class="navLink" href="{{ path 'watched/' }}{{ userId }}">Watched</a></li>
					<li><a class="navLink" href="{{ path '' }}">To Watch</a></li>
					<li><a class="navLink" href="{{ path 'users/' }}{{ userId }}/edit">Profile</a></li>
					<li><a class="navLink" href="{{ path 'logout' }}">Logout</a></li>
				{{else}}
					<li><a class="navLink" href="{{ path 'login' }}">Login</a></li>
					<li><a class="navLink" href="{{ path 'register' }}">Register</a></li>
				{{/if}}
			</ul>
		</nav>
	</header>
	<main>
