{{> Header }}
<div class="contentPage">
    <div style="display:flex; justify-content:center; align-items:center">
        <img style="width:10vw;height:10vw;" src="{{user.props.profile}}"/>
        <p class="title">{{user.props.email}}'s</p>
    </div>
    <p class="title">To Watch List</p>
    <div class="contentButtons">
        {{#if lastProfile}}
            <a class="formButton" href="{{ path 'to_watch/' }}{{ lastProfile }}" id="previous-user-button">Previous User</a>
        {{/if}}
        {{#if nextProfile}}
            <a class="formButton" href="{{ path 'to_watch/' }}{{ nextProfile }}" id="next-user-button">Next User</a>
        {{/if}}
    </div>
    <div class="contents">
        {{#each content}}
            <a href="{{ path 'individual_content?content_id=' }}{{ this.props.contentId }}" class="content">
                <img class="smallContentPoster" src="{{this.props.contentPoster}}">
                <p class="contentTitle">{{this.props.title}}</p>
            </a>
        {{/each}}
    </div>
</div>
{{> Footer }}