{{> Header }}

<h1 class="title">User Profile</h1>


<h3 class="title" style="font-size: 300%" id="message">{{message}}</h3>
<h3 class="title" style="font-size: 300%" id="error">{{error}}</h3>

<form class="main" method="POST" action="{{ path 'users' }}/{{ userId }}/edit" id="edit-user-form">
    <div class="formItem">
        <label class="formText" for="email">Email:</label>
        <input class="inputBoxes" value="{{email}}" type="email" type="text" name="email">
    </div>  

    <div class="formItem">
        <label class="formText" for="password">New password:</label>
        <input class="inputBoxes" type="password" name="password"/>
    </div> 
	
    <div style="display:flex; width:100%">
        <img src="{{image}}" height="75" width="75" style="margin-top: 1rem; margin-right: 1rem;"/>
        <div class="formItem">
            <label class="formText" for="profile">Profile picture (URL):</label>
            <input class="inputBoxes" value="{{image}}" name="profile"/>
        </div>
    </div>

    <div class="formCheckbox">
        <input type="checkbox" id="profileVisibility" name="profileVisibility">
        <label class="formText" for="profileVisibility">{{profileVisibility}}</label>
    </div>
    <input class="formButton" type="submit" value="Edit" id="edit-user-form-submit-button">
</form>

{{> Footer }}